<section class="parallax parallax2">
    <div class="parallax-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Lorem ipsum dolor sit amet!</h2>
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>
                    <a href="#" class="btn btn-primary solid">Get In Touch</a>
                    <a href="#" class="btn btn-primary white">Call to action</a>
                </p>
            </div>
        </div>
    </div><!-- Container end -->
</section><!-- Parallax 2 end -->
