<!-- Style switcher start -->
<!--<app-home-style-switcher></app-home-style-switcher>-->
<!-- Style switcher end -->

<div class="">
    <!--Slider Images-->
    <app-slider-main
        [slides]="slides_home">
    </app-slider-main>

    <!-- About tab start -->
    <app-about-section></app-about-section>

    <!--Featured Image Block-->
    <app-about-image-block></app-about-image-block>

    <!-- Team start -->
    <app-home-team-section></app-home-team-section>

    <!-- Counter Strat -->
    <app-home-counter-stats></app-home-counter-stats>

    <!-- Portfolio start -->
    <app-home-portfolio></app-home-portfolio>

    <!-- Service box start -->
    <!--<app-tradingview-overview></app-tradingview-overview>-->


    <!--<app-home-service-box></app-home-service-box>-->

    <!-- Parallax 2 start -->
    <app-home-call-to-action></app-home-call-to-action>


    <!-- Testimonial start-->
    <app-testimonials-brief></app-testimonials-brief>

    <!-- Newsletter start -->
    <section id="newsletter" class="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-md-12 heading text-center">
                    <span class="icon-pentagon wow bounceIn animated"><i class="fa fa-envelope"></i></span>
                    <h2 class="title2">Get in touch
                        <span class="title-desc">We'd love to hear from you. Give us your details and we'll get in contact.</span>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form action="#" method="post" id="newsletter-form" class="newsletter-form wow bounceIn" data-wow-duration=".8s">
                        <div class="form-group">
                            <input type="email" name="email" id="newsletter-form-email" class="form-control form-control-lg" placeholder="Enter your email address" autocomplete="off">
                            <button class="btn btn-primary solid">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div><!--/ Content row end -->
        </div><!--/ Container end -->
    </section><!-- Newsletter end -->

    <!-- Footer start -->
    <app-footer></app-footer>
</div><!-- Body inner end -->
