<section id="about" class="about angle">
    <div class="container">
        <div class="row">
            <div class="landing-tab clearfix">
                <ul class="nav nav-tabs nav-stacked col-md-3 col-sm-5">
                    <li class="active">
                        <a class="animated fadeIn" href="#tab_a" data-toggle="tab">
                            <span class="tab-icon"><i class="fa fa-info"></i></span>
                            <div class="tab-info">
                                <h3>Who Are We</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="animated fadeIn" href="#tab_b" data-toggle="tab">
                            <span class="tab-icon"><i class="fa fa-briefcase"></i></span>
                            <div class="tab-info">
                                <h3>What we do</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="animated fadeIn" href="#tab_c" data-toggle="tab">
                            <span class="tab-icon"><i class="fa fa-android"></i></span>
                            <div class="tab-info">
                                <h3>Our company</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="animated fadeIn" href="#tab_d" data-toggle="tab">
                            <span class="tab-icon"><i class="fa fa-pagelines"></i></span>
                            <div class="tab-info">
                                <h3>Lorem ipsum</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="animated fadeIn" href="#tab_e" data-toggle="tab">
                            <span class="tab-icon"><i class="fa fa-support"></i></span>
                            <div class="tab-info">
                                <h3>Lorem ipsum</h3>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="tab-content col-md-9 col-sm-7">
                    <div class="tab-pane active animated fadeInRight" id="tab_a">
                        <!--<i class="fa fa-trophy big"></i>-->
                        <h3>Who we are </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Integer laoreet malesuada iaculis. Quisque eget elit sit amet justo dignissim congue non eget risus.
                            Nullam maximus, arcu vel facilisis aliquam, tortor tortor mattis tortor, eu aliquam eros tellus vel enim.
                            Donec consequat, purus a pretium pulvinar, odio lectus accumsan tellus, tempus consequat neque neque quis dui.
                            Nulla sit amet felis velit. Donec porta mollis massa non viverra.
                            Nullam id mattis lorem, eget mattis leo. Donec nec elementum velit. Morbi luctus aliquet risus, vitae laoreet dolor hendrerit eu.
                        </p>
                    </div>
                    <div class="tab-pane animated fadeInLeft" id="tab_b">
                        <i class="fa fa-briefcase big"></i>
                        <h3>What we do</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Integer laoreet malesuada iaculis. Quisque eget elit sit amet justo dignissim congue non eget risus.
                            Nullam maximus, arcu vel facilisis aliquam, tortor tortor mattis tortor, eu aliquam eros tellus vel enim.
                            Donec consequat, purus a pretium pulvinar, odio lectus accumsan tellus, tempus consequat neque neque quis dui.
                            Nulla sit amet felis velit. Donec porta mollis massa non viverra.
                            Nullam id mattis lorem, eget mattis leo. Donec nec elementum velit. Morbi luctus aliquet risus, vitae laoreet dolor hendrerit eu.
                        </p>
                    </div>
                    <div class="tab-pane animated fadeIn" id="tab_c">
                        <i class="fa fa-android big"></i>
                        <h3>Lorem ipsum dolor sit amet</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Integer laoreet malesuada iaculis. Quisque eget elit sit amet justo dignissim congue non eget risus.
                            Nullam maximus, arcu vel facilisis aliquam, tortor tortor mattis tortor, eu aliquam eros tellus vel enim.
                            Donec consequat, purus a pretium pulvinar, odio lectus accumsan tellus, tempus consequat neque neque quis dui.
                            Nulla sit amet felis velit. Donec porta mollis massa non viverra.
                            Nullam id mattis lorem, eget mattis leo. Donec nec elementum velit. Morbi luctus aliquet risus, vitae laoreet dolor hendrerit eu.
                        </p>
                    </div>
                    <div class="tab-pane animated fadeIn" id="tab_d">
                        <i class="fa fa-pagelines big"></i>
                        <h3>Lorem ipsum dolor sit amet</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Integer laoreet malesuada iaculis. Quisque eget elit sit amet justo dignissim congue non eget risus.
                            Nullam maximus, arcu vel facilisis aliquam, tortor tortor mattis tortor, eu aliquam eros tellus vel enim.
                            Donec consequat, purus a pretium pulvinar, odio lectus accumsan tellus, tempus consequat neque neque quis dui.
                            Nulla sit amet felis velit. Donec porta mollis massa non viverra.
                            Nullam id mattis lorem, eget mattis leo. Donec nec elementum velit. Morbi luctus aliquet risus, vitae laoreet dolor hendrerit eu.
                        </p>
                    </div>
                    <div class="tab-pane animated fadeIn" id="tab_e">
                        <i class="fa fa-support big"></i>
                        <h3>Lorem ipsum dolor sit amet</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Integer laoreet malesuada iaculis. Quisque eget elit sit amet justo dignissim congue non eget risus.
                            Nullam maximus, arcu vel facilisis aliquam, tortor tortor mattis tortor, eu aliquam eros tellus vel enim.
                            Donec consequat, purus a pretium pulvinar, odio lectus accumsan tellus, tempus consequat neque neque quis dui.
                            Nulla sit amet felis velit. Donec porta mollis massa non viverra.
                            Nullam id mattis lorem, eget mattis leo. Donec nec elementum velit. Morbi luctus aliquet risus, vitae laoreet dolor hendrerit eu.
                        </p>
                    </div>
                </div><!-- tab content -->
            </div><!-- Overview tab end -->
        </div><!--/ Content row end -->
    </div><!-- Container end -->
</section><!-- About end -->

